/* for all page */
*{
  box-sizing: border-box;
  font-family: sans-serif;
}

html{
  background-image: url('../img/sunsit.jpg');
  background-repeat: repeat;
  background-size: cover;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-image: url('../img/sunsit.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* design for music */
.music-toggle{
  cursor: pointer;
  font-size: 10px;
  position:relative;
  color: beige;
  margin-right: 5px;
  align-items: inherit;
}


h1{
  color: beige;
  font-size: 54px;
  text-align: center;
}

.container{
  width: 500px;
  height: 500px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: 33% 33% 33%;
  margin: auto;
}

.cell{
  position: relative;
  background-color: rgba(218, 208, 208, 0.651);
  cursor: pointer;
  border-radius: 15%;
}

.cell::before{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 8rem;
}

.cell.x::before{
  content: "X";
  color: rgb(219, 118, 135);
}

.cell.o::before{
  content: "O";
  color: rgb(121, 51, 121);
}

.winner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 400px;
  height: 200px;
  padding: 20px 40px;
  background-color: rgb(106, 91, 170);
  font-size: 2rem;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  animation: animate .5s linear;
  position: absolute;
  top: 40%;
  left: 35%;
}

.winner button{
  margin-top: 20px;
  width: 80px;
  height: 35px;
  line-height: 35px;
  padding: 0;
  border: 0;
  outline: 0;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  background-color: rgb(219, 118, 135);
}

.footer {
  font-family: 'Shadows Into Light', cursive;
  font-size: 12px;
  text-align: center;
  color: beige;
}

@media screen and (max-width: 415px){
  .container{
    width: 300px;
    height: 300px;
  }
  .cell.x::before{
    font-size: 70px;
  }
  .cell.o::before{
    font-size: 70px;
  }
  div.winner{
    position: absolute;
    left: 4px;
    width: 350px;
    height: 200px;
  }
  body{
    background-image: url('../img/sunsit2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/* for animation */
@keyframes animate{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}